h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #ebebeb;
    text-align: center;
    background: ##ebebeb33;
  }

  h2 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #ebebeb;
    text-align: center;
    background: #ebebeb;
    color: #777
  }

  h3 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #ebebeb;
    text-align: center;
    background: #ebebeb;
    color: #777

  }


  body {
    background-color: #777;
}
#left {
    padding: 20px 20;
    float: left;
    width: 40%;
    text-align: center;
    font-size: 28px;
    color: #ebebeb;
    text-align: center;
    background: #ebebeb;
    color: #777
  }

  #right {
    padding: 20px 20;
    float: right;
    width: 40%;
    text-align: center;
    font-size: 28px;
    color: #ebebeb;
    text-align: center;
    background: #ebebeb;
    color: #777
  }